.collection select{
    border: 1px solid #eee;
    padding: 5px 15px;
    font-size: .9rem;
}

::selection{
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.collection select:focus-visible {
    outline: none;
}

.collection option{
    padding: 5px 15px;
    height: 100%;
}
.collection{
    /* border: 2px solid black; */
    height: 100%;
    /* padding: 10px; */
    
}

.titleC{
    font-size: .9rem;
}
.filter{
    width: 100%;
    border: 1px solid #e0dfdf;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    position: relative;


}

.titleFilter{
    padding: 10px;
    
}
.titleFilter h2{
    text-align: left;
    padding-left: 10px;
    border-left: 2px solid red;
    font-size: 1.5rem;
}
.lines{
    border: .9px solid #e0dfdf;
    border-radius: 10px;
    height: 4.5%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}
.drop::-webkit-scrollbar{
    display: none;
}
.drop{
    position: absolute;
    width: 90%;
    top: -55%;
    left: 50%;
    transform: translate(-50%,35.4%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    height: 0;
    border-radius: 10px;
    overflow: hidden scroll;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: .8px solid rgba(0, 0, 0, 0.3);
    cursor: pointer;

}
.drop li{
    padding: 8px 20px;
    transition: .3s ;
}
.drop li:hover{
    color:white;
    background-color: red;
}
.lines .drop.active{
    opacity: 1;
    height: 200px;
    width: 100%;
    z-index: 999;
}
.lines h3{
    margin-left: 10px;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 300;
    display: flex;
    align-items: center;

}
.lines i{
    margin-right:10px;
    font-size: 1.1rem;
    font-weight: 300;
}
.range{
    /* border: 1px solid #e0dfdf; */
    border-radius: 10px;
    height: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    position: relative;

}
.Price h4{
    font-size:18px;
    padding: 10px;
}
.FromAmount{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 1px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.FromAmount h4{
    font-size: 15px;
}
.check{
    height: 200px;
    overflow: hidden scroll;
}
.lines input{
    height: 20px;
    width: 20px;

}

.lines.check{
    border: none;
    flex-direction: column;
    align-items: start;
    padding-bottom: 5px;
}
.check::-webkit-scrollbar{
    display: none;
}