.page {
    height: 100%;
    width: 100%;
}

.page .slider {
    height: 100vh;
    width: 100%;
    position: relative;
}

.page .slider .slider_item {
    height: 100vh;
    width: 100%;
    position: relative;
}

.page .slider .slider_item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.page .slider .slider_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: #000;
    opacity: .5;
    z-index: 1;
}

.page .details {
    height: 100%;
}

.page .title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 9vw 0 0 9vw;
    z-index: 999;
}

.page .title span {
    letter-spacing: 5px;
    font-size: .9rem;
    color: var(--accent-color);
    font-weight: 600;
    text-transform: uppercase;
}

.page .title h1 {
    font-weight: bold;
    margin: 20px 0;
}

.page .details .info {
    padding-top: 100px;
}

.page .details h4 {
    font-weight: bold;
    color: var(--text-color);
}

.page .head span {
    letter-spacing: 5px;
    font-size: .9rem;
    color: var(--accent-color);
    font-weight: 600;
    text-transform: uppercase;
}

.page .head h1 {
    font-weight: bold;
    margin-bottom: 40px;
}

.page .details p {
    margin: 20px 0;
    opacity: .6;
    font-size: .85rem;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: .5px;
}

.page .details .price {
    background: var(--bg2-color);
    border-radius: 40px;
    overflow: hidden;
    margin-top: -100px;
    z-index: 9999;
    position: relative;
}

.page .details .price_head {
    padding: 30px 0;
    background: var(--accent-color);
    text-align: center;
}

.page .details .price_head h3 {
    font-weight: bold;
}

.page .details .price_info {
    padding: 20px 30px;
    height: 100%;
}

.page .details .price_info span {
    font-size: .9rem;
    opacity: .8;
    font-weight: 300;
    margin-left: 10px;
}

.page .details .price_info p {
    color: var(--text-color) !important;
    font-size: 1rem;
    opacity: 1;
    line-height: 100%;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    gap: 5px;
}

.btns .btn {
    padding: 18px 25px;
    background: var(--accent-color);
    color: var(--text-color);
    font-weight: 300;
    letter-spacing: .5px;
    font-size: .85rem;
    transition: all .4s ease;
}

.btns .btn:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.btns .btn:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.btns .btn:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.btns span {
    background-color: var(--bg2-color) !important;
    color: var(--text-color);
    margin: 0 !important;
    opacity: 1 !important;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 15px;
    margin-right: 10px !important;
}

@media (max-width: 999px) {
    .page .details .price {
        margin-top: 30px;
    }
}

.details .info li{
    font-size: .9rem;
    color: #999;
    font-weight: 300;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.details .info li i{
    color: var(--accent-color);
    height: 40px;
    width: 40px;
    display: flex;
    font-size: .9rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bg2-color);
}

.gallery{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.gallery img{
    width: 30%;
    border-radius: 20px;
}


.accord_item{
    background-color: var(--bg2-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0;
    overflow: hidden;
}

.accord_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
    cursor: pointer;
    transition: all .4s ease;
    /* background-color: var(--accent-color); */
}

.accord_item h5{
    font-weight: 600;
    font-size: 1.05rem;
    color: var(--text-color);
    margin-bottom: 0 !important;
    letter-spacing: .5px;
}

.accord_item h5 span{
    opacity: 1 !important;
    color: var(--accent-color);
    font-weight: bolder;
    margin-right: 5px;
    font-size: 1em;
}

.accord_item i{
    color: var(--accent-color);
    font-size: 1.1rem;
    font-weight: bolder;
}

.accord_item.active .accord_head{
    background-color: var(--accent-color);
}

.accord_item.active .accord_content{
    height: auto;
    display: block;
}

.accord_item.active h5 span{
    color: var(--bg-color);
}

.accord_item.active i{
    color: var(--bg-color);
    transform: rotate(90deg);
}

.accord_item .accord_content{
    padding: 30px;
    height: 0px;
    display: none;
}

.accord_item .accord_content .text{
    opacity: .6;
    font-size: .85rem;
    font-weight: 300;
    line-height: 200%;
    letter-spacing: .5px;
    display: block;
    position: relative;
    top: 0px;
}