section {
    width: 100vw;
    height: 100%;
}

footer {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    margin-top: 50px;
}

section.footer_container {
    height: 100%;
    color: #f0f0f0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer h2 {
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: bold;
    position: relative;
    letter-spacing: 1.5px;
}

.footer h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    height: 60%;
    width: 3px;
    border-radius: 30px;
    background-color: var(--accent-color);
}

.footer ul li {
    padding: 5px 0;
}

.footer ul li a {
    text-transform: uppercase;
    letter-spacing: .5px;
    color: #999;
}

.footer h3 {
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.footer a {
    text-decoration: none;
}

.footer .social {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.footer .social a {
    font-weight: 600;
    margin: 5px 0;
    color: var(--accent-color);
}

.footer .social .brands {
    margin-top: 8px;
}

.footer .social .brands a {
    color: #999;
    font-weight: normal;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer .social .brands a i {
    font-size: 1.5em;
    color: var(--accent-color);
}

.foot {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 20px;
    color: #666;
}

@media (max-width: 768px) {

    .footer h2::before {
        left: -15px;
    }
}

@media (max-width: 499px) {
    .footer h2{
        font-size: 2.5rem;
    }
}