.footer {
    width: 100%;
    background-color: rgb(24, 24, 24);
    height: 100%;
    color: white;
    list-style: none;
    overflow: hidden;
    margin-top: 10%;
    flex-direction: column;

}

.footer .footer1 {
    padding: 50px 20px;

}

.footer img {
    width: 40%;
}

.footer .first {
    padding-right: 50px;
    padding-left: 20px;
}

.first h2 {

    font-size: 22px;
}

.first h4 {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 300;
    text-align: left;
}

.footer h2 {
    font-size: 22px;
    font-weight: 500;

}

.footer h3 {
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
}

.footer h3 li{
    margin-top: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;


}
.footer li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer li i{
    display: none;
    color: red;
    rotate: -45deg;
}
.footer li:hover{
    color: red;
}
.footer li:hover i{
    display: block;
   
}
.first a {
    color: white;
    transition: all 0.5s ease-in-out;
    font-size: .8rem;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-weight: 300;

}

.first a:hover {
    color: red;
}

.first i {
    font-size: .9rem;
}

.footer .letter {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.footer input {
    width: 250px;
    height: 30px;
    padding: 10px -5px;
    border-top: none;
    background-color: transparent;
    border: none;
    outline: none;
}

.bottom {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2rem;
}

.copyright {
    height: 100%;
    display: flex;
    align-items: center;
}

.copyright span {
    color: red;
}

.copyright h2 {
    font-size: 16px;
}

.icons {
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font-size: 1.3rem;
}

.warning {
    height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.warning h4 {
    font-size: 16px;
}

@media (max-width:999px) {
    .bottom {
        flex-direction: column;
        display: flex;
    }

    .copyright {
        margin-top: 10px;
    }

    .icons {
        margin-top: 10px;

    }

    .warning {
        margin-top: 10px;
    }
}