a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}


.menu_toggle {
    display: none;
    font-size: 24px;
    background: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    padding-left: 15px;
}

/* ===== Navigation Bar ===== */


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8vw;
    color: var(--text-color);
    overflow-x: clip;
    z-index: 100;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    backdrop-filter: blur(10px);
}

.nav.absolute {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
}



.nav.absolute .btn {
    color: var(--bg-color) !important;
}



.logo img {
    width: 100px;
    height: auto;
}

.nav_main_menu {
    display: flex;
    align-items: center;
    padding-left: 1rem !important;
}

.nav_main_menu li {
    padding: 10px 25px;
    transition: .3s;
   
}

.nav_main_menu li a{
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1rem !important;
    color: var(--text-color);
}


.nav_main_menu li:hover {
    color: var(--accent-color);
}

.nav_main_menu li:hover a {
    color: var(--accent-color);
    font-weight: 500;
}

.nav span {
    margin-right: 5px;
}

.nav_link i,
.dropdown_link i {
    font-size: 12px !important;
    transition: .3s;
}

.dropdown:hover .nav_link i,
.sub_dropdown:hover .dropdown_link i {
    transform: rotate(180deg);
}

.dropdown:hover ul li a {
    color: var(--text-color);
}

.dropdown ul li:hover a {
    color: var(--text-color);
}

/* ===== Dropdown ===== */
.dropdown {
    position: relative;
}

.nav_main_menu .dropdown_content {
    display: none;
    position: absolute;
    top: 44px;
    left: 0;
    background: var(--bg-color) !important;
    min-width: 240px;
    border-left: 3px solid #ccc;
    border-radius: 0 0 7px 7px;
    animation: slideUp .3s;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.dropdown_content li {
    padding: 12px 20px;
}

.dropdown_content li a {
    font-size: .9rem !important;
}

.dropdown_content li:hover {
    background: var(--accent-color);
}

.dropdown_content li:hover a {
    color: var(--text-color);
}



.dropdown:hover .dropdown_content {
    display: block;
}

/* ===== Sub - Dropdown ===== */
.nav_main_menu .sub_dropdown_content {
    display: none;
    position: absolute;
    top: 34%;
    left: 100%;
    background: var(--bg-color);
    min-width: 240px;
    border-left: 3px solid #ccc;
    border-radius: 0 0 7px 7px;
    animation: slideUp .3s;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.sub_dropdown_content li a {
    color: var(--text-color) !important;
}

.sub_dropdown_content li:hover a {
    color: var(--text-color) !important;
}

@keyframes slideUp {
    from {
        margin-top: 20px;
    }

    to {
        margin-top: 0;
    }
}

.dropdown_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_dropdown:hover .sub_dropdown_content {
    display: block;
}

.btn {
    font-size: 18px;
    background: transparent;
    border: none;
    padding: 0 25px;
    cursor: pointer;
    transition: .3s;
    color: var(--text-color);
}

.btn:hover {
    opacity: 0.9;
    color: var(--accent-color);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: var(--text-color);
    padding: 20px;
}

main p {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

.close_toggle {
    display: none;
}


/* ===== Responsive styles ===== */
@media (max-width: 999px) {

    .nav.absolute .btn{
        color: var(--bg-color) !important;
    }

    nav{
        padding: 10px 20px !important;
    }

    .logo img {
        width: 100px;
    }

    .close_toggle {
        display: block;
        position: absolute;
        right: 30px;
        top: 15px;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.2rem;
    }

    .nav_main_menu {
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        right: -100%;
        bottom: 0;
        top: 0;
        width: 300px;
        background-color: var(--bg-color);
        box-shadow: -5px -5px 30px rgba(0, 0, 0, 0.1);
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 50px;
        padding-right: 0px;
        transition: all .4s;
        z-index: 9999;
    }

    .nav_main_menu.active {
        right: 0px;
    }

    .nav_main_menu li {
        width: 100%;
        border-top: 1px solid #777;
        font-size: 1.1rem !important;
    }

    .nav_main_menu li a{
        color: var(--text-color);
    }

    .dropdown .nav_link {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .btn {
        border-right: 1px solid #eee;
        border-left: none;
    }

    /* .nav_main_menu li:hover{
        background-color: var(--accent-color);
        color: var(--text-color);
    } */




    .menu_toggle {
        display: block;
        color: var(--text-color) !important;
    }
}