a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

.smoothContainer {
    width: auto;
    margin: 0;
    height: 100vh;
    will-change: transform;
}

.herosection{
    margin-top: 12vw;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.herosection h1{
    font-size: 4.5vw;
    font-weight: 600;
}

.herosection h1 div:nth-child(1){
    font-size: 1em;
    font-weight: 600;
}

.herosection h1 div:nth-child(2){
    font-size: .8em;
    font-weight: 400;
}

.scroll-content{
    scrollbar-width: none !important;
}

.scrollAnime{
    height: 100vh;
    width: 100%;
}

.scrollAnime{
    position: relative;
}

.scrollAnime img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.scrollAnime canvas{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scrollAnime video{
    width: 100%;
    height: 100%;
}