a {
    text-decoration: none;
    color: var(--text-color);
}

ul {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}

::selection {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.padd-x {
    padding: 0 8vw !important;
}

.heading {
    padding: 0 8vw;
    margin: 80px 0;
    text-align: center;
}

.heading span {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #888;
}

.heading h2 {
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.heading2 h1 {
    font-size: 3vw;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
}

.heading2 h1::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    margin: auto;
    right: 0;
    height: 2px;
    width: 50%;
    border-radius: 30px;
    background-color: var(--accent-color);
}

.smoothContainer {
    width: auto;
    margin: 0;
    height: 100vh;
    will-change: transform;
}

.herosection {
    margin-top: 12vw;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    padding-right: 12vw !important;
    z-index: 9;
    margin-bottom: -150px;
    position: relative;
}

.herosection::before {
    content: "ostraders";
    text-transform: uppercase;
    font-size: 16vw;
    color: #333;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: .6;
    z-index: -1;
    pointer-events: none;
    transition: all .5s ease;
    object-fit: cover;
    text-align: center;
    background: -webkit-linear-gradient(#353535, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.herosection h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    height: 30%;
    width: 3px;
    border-radius: 30px;
    background-color: var(--accent-color);
}

.herosection h1 {
    font-size: 3.5vw;
    font-weight: bold;
    letter-spacing: 1.5px;
    position: relative;
}

.button {
    background-color: var(--accent-color);
    color: var(--text-color);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.1rem;
    padding: 15px 30px;
    border-radius: 30px;
}

.herosection .indicator {
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
    margin-top: 60px;
}


.indicator .social {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

.indicator .social a {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

.indicator .social a:nth-child(2) {
    color: var(--accent-color);
    font-weight: 600;
}

#scroll {
    animation: animateHeight 1.62s linear 0.3s infinite;
}

#circle-roll {
    animation: animateRoll 1.7s linear 0.3s infinite;
}

@keyframes animateRoll {
    50% {
        cy: 90;
        opacity: 0.1;
    }
}

@keyframes animateHeight {
    70% {
        height: 120px;
    }
}


.scroll-content {
    scrollbar-width: none !important;
}

.scrollAnime {
    height: 100vh;
    width: 100%;
}

.scrollAnime {
    position: relative;
    z-index: -1;
}

.scrollAnime img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scrollAnime canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.scrollAnime video {
    width: 100%;
    height: 100%;
}

.scrollAnime h2 {
    font-size: 4.5vw;
    position: absolute;
    top: -25%;
    right: 25%;
    bottom: 0;
    margin: auto;
    font-weight: normal;
}

.scrollAnime h2 span {
    font-size: 1.5em;
    font-weight: 600;
    color: var(--accent-color);
}

@media (max-width: 999px) {
    .herosection {
        margin-top: 180px;
        padding-right: 0vw !important;
        padding: 0 6vw !important;
        align-items: center;
        justify-content: center;
    }

    .herosection h1 {
        font-size: 6vw;
        justify-content: center !important;
        align-items: center !important;
    }

    .scrollAnime h2 {
        font-size: 3rem;
    }

    /* .herosection::before{
        font-size: 14rem;
    } */
}

@media (max-width: 768px) {
    .herosection {
        margin-top: 120px;
    }

    .herosection h1 {
        font-size: 8vw ;
    }

    .herosection h1::after {
        right: -15px;
    }
}

@media (max-width: 599px) {
    .herosection {

    }

    .herosection h1 {
        align-items: center !important;
        font-size: 9vw !important;
    }
}

@media (max-width: 499px) {

    .herosection {
        padding: 0 10px !important;
    }

    .herosection h1::after {
        display: none;
    }

    .herosection h1 {
        font-size: 10vw;
    }
}


.txt-home {
    position: absolute;
    top: 0%;
    right: 0;
    padding-left: 5vw;
    width: 50%;
    height: 100%;
    /* color: var(--text-color); */
    background: rgba(0, 0, 0, 0.472);
    /* background-color: var(--text-color); */
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
}

.txt-home h2 {
    color: var(--text-color);
}

.products {
    height: 100%;
    width: 100%;
    margin-bottom: 100px;
}

.slider-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slider-content video {
    max-height: 380px;
    width: 100%;
    height: 100%;
}

.products h3 {
    font-weight: 300;
}

.slider-content h3 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    pointer-events: none;
    font-size: 18vw;
    font-weight: 600;
    letter-spacing: 4px;
    color: #444;
    opacity: .6;
    text-align: center;
    background: -webkit-linear-gradient(#353535, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nextBtn {
    position: absolute;
    right: 60px !important;
    top: 0;
    bottom: 0;
    color: var(--bg-color) !important;
    background-color: var(--text-color) !important;
    border-radius: 50% !important;
    width: 50px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.nextBtn i {
    font-size: 1rem !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 3vw !important;
    font-weight: 200;
    font-family: none !important;
    content: "" !important;
}


.prevBtn {
    position: absolute;
    left: 60px !important;
    top: 0;
    bottom: 0;
    color: var(--bg-color) !important;
    background-color: var(--text-color) !important;
    border-radius: 50% !important;
    width: 50px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    z-index: 999;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.prevBtn i {
    font-size: 1rem !important;
}

@media (max-width: 999px) {
    .slider-content h3 {
        font-size: 14rem;
        top: -5%;
    }
}

@media (max-width: 768px) {
    .heading span {
        font-size: 1.2rem;
    }

    .heading h2 {
        font-size: 6vw;
    }

    .nextBtn {
        right: 15px !important;
        width: 25px !important;
        height: 25px !important;
    }

    .prevBtn {
        left: 15px !important;
        width: 25px !important;
        height: 25px !important;
    }

    .nextBtn i,
    .prevBtn i {
        font-size: .7rem !important;
    }

    .slider-content h3 {
        font-size: 28vw;
    }
}

.categories {
    height: 100vh;
    width: 100%;
    padding-top: 150px !important;
}

.categories h2 {
    font-size: 3.5vw;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
    position: relative;
}

.categories h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    height: 60%;
    width: 3px;
    border-radius: 30px;
    background-color: var(--accent-color);
}

.categories p {
    color: #666;
}

.cat-head {}


.cat-list {
    /* overflow: hidden; */
    position: relative;
}

.cat-item {
    margin-bottom: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.cat-image {
    width: 100vw;
    height: 400px;
    overflow: hidden !important;
    margin-right: 50px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cat-item .cat-image img {
    width: 200%;
    height: 100%;
    transition: all .5s ease;
}

.cat-item:hover .cat-image img {
    transform: scale(1.1);
}

.cat-item h3 {
    font-size: 3vw;
    margin-bottom: 20px;
    transition: all .5s ease;
}

.cat-item h3:hover {
    color: var(--accent-color);
    font-weight: 500;
}

.btn {
    color: var(--text-color);
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
}

.btn::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: -100%;
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: all .5s ease-in;
}

.cat-item:hover .btn::after {
    width: 200%;
}


.input-field {
    margin-bottom: 30px;
    border: 1px solid #555;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-field input {
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 10px;
    max-width: 350px;
    width: 350px;
    color: var(--text-color);
    font-weight: normal;
}

button {
    border: none;
    outline: none;
    background: transparent;
}

.input-field button {
    color: var(--text-color);
    background-color: var(--accent-color);
    padding: 15px 20px;
    border-radius: 30px;
    height: 100%;
}

@media (max-width: 1200px) {
    .categories.padd-x{
        padding-right: 5vw !important;
        padding-left: 6vw !important;
    }
    .cat-image{
        width: 185vw;
        margin-right: 20px;
    }
}

@media (max-width: 999px) {
    .categories.padd-x{
        padding-right: 8vw !important;
        padding-left: 8vw !important;
    }
    .categories h2 {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .categories {
        padding-top: 70px !important;
    }

    .cat-image {
        width: 150%;
        height: 300px;
    }

    .cat-image img {
        height: auto !important;
    }

    .cat-list {
        height: 100vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cat-item h3 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .cat-image {
        width: 250%;
    }
    .cat-item h3{
        font-size: 2.3rem;
    }
}

@media (max-width: 599px) {
    .cat-list{
        height: 70vh !important;
    }
    .categories {
        height: 100%;
    }

    .categories p {
        display: none;
        margin-bottom: 5px;
    }

    .cat-item {
        flex-direction: column;
        padding: 0;
    }

    .categories h2 {
        font-size: 2.5rem;
    }

    .categories h2::before {
        left: -15px;
    }

    .cat-image {
        width: 50%;
        height: 200px;
        margin-bottom: 20px;
    }

    .cat-item h3 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .cat-item p {
        display: block !important;
    }
}